.header-slide{
  position: fixed;
  top: 56px;
  left: 0;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  width: 100%;
}

.notice-line{
  width: 100%;
  padding: 0 10px;
  text-align: center;
  background-color: rgb(98, 234, 126, .6);
  color: #333;
}