.preview-format{
  width: 450px;
}

.item_image{
  width: 240px;
  height: auto;
}

.js-form-select{
  accent-color: rgb(4, 155, 174);
  /* 大きさ */
  inline-size: 1.5rem;
  block-size: 1.5rem;
}

.item-card{
  transition: .3s;
  width: calc(25% - 22px); /* margin padding分を引く */
  margin: 1px;
  padding: 10px;
}
.item-card:hover{
  opacity: .8;
  transition: .3s;
}

.item-container {
  display: flex; /* flexbox */
  flex-wrap: wrap; /* 折返し指定 */
}
