<% if model.errors.present? %>
  <ul class="error_container alert alert-danger">
    <% model.errors.each do |error| %>
      <%
        atr = error.attribute
      %>
      <li><%= atr %></li>
    <% end %>
  </ul>
  <% end %>