<% if  flash[:notice].present? %>
  <p class="notice-line js-toggle-msg"><%= flash[:notice] %></p>
<% end %>
<% if  flash[:alert].present? %>
  <p class="alert-line js-toggle-msg"><%= flash[:alert] %></p>
<% end %>