#app {
  height: 100%;
}

.swiper-button-next::after{
  color: rgb(20, 19, 19);
}
.swiper-button-prev::after{
  color: rgb(20, 19, 19);
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}
.main-innder-slide {
  /* width: 100% !important; */
}

.mainSwiper {
  height: 480px;
  width: 65%;
  margin-bottom: 24px;
}

.subSwiper {
  width: 80%;
  height: 200px;
  box-sizing: border-box;
  padding: 10px 0;
}

.subSwiper .swiper-slide {
  width: 15%;
  height: 100%;
  opacity: 0.4;
}

.subSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.item-container{
  width: 65%;
}


.topSwiper{
  width: 100%;
  height: 460px;
  margin-bottom: 24px;
}

.text-group{
  width: 200px;
}

.index-description{
  display: -webkit-box; /* 必須 */
  -webkit-box-orient: vertical; /* 必須 */
  -webkit-line-clamp: 3; /* 行数を制限 */
  overflow: hidden; /* はみ出た部分を非表示 */
}

@media (max-width: 1024px) { 
  
  .text-group{
    width: 340px;
    margin-bottom: 24px;
  }
  .mainSwiper{
    width: 100%;
  }
  .subSwiper{
    width: 100%;
  }
  .subSwiper .swiper-slide {
    height: 70%;
  }
 }