<img src="/assets/images/logo_cut.jpg" alt="" srcset="" style="width: 100%;">
<h2>bulkです</h2>
<p>以下の商品を発送いたしました。</p>
<%  @items.each do |item| %>
「<%= item  %>」<br>
<% end %>
<div style="border-top: 1px solid #333; border-bottom: 1px solid #333;">
  <h3>お届け先</h3>
  <p>〒<%= @postal_code %></p>
  <p><%= @address %></p>
</div>
<p>何かご不明な点がありましたら以下よりお問い合わせください</p>
<a href="<%= @contact_form %>">お問い合わせフォーム</a>